<div class="row">
  <div class="col-md-3">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5>Total de Piezas</h5>
        <p class="fs-4">{{ total_piezas }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5>Piezas con Stock Bajo</h5>
        <p class="fs-4">{{ piezas_stock_bajo }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5>Movimientos Totales</h5>
        <p class="fs-4">{{ movimientos_totales }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5>Ubicaciones Distintas</h5>
        <p class="fs-4">{{ ubicaciones_distintas }}</p>
      </div>
    </div>
  </div>
</div>
