{% extends 'dashboards/dashboard.html' %}


{% block dashboard_sidebar %}
<a href="{% url 'registrar_pieza' %}" class="list-group-item list-group-item-action">
    <i class="bi bi-plus-circle me-2"></i>Registrar Pieza
</a>
<a href="{% url 'listar_piezas' %}" class="list-group-item list-group-item-action">
    <i class="bi bi-list-ul me-2"></i>Inventario
</a>
{% endblock %}

{% block dashboard_content %}
<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">Bienvenido, {{ user.first_name }}</h4>
        <p class="card-text">Rol: <strong>{{ role_display }}</strong></p>
    </div>
</div>

<!-- Aquí van las tarjetas o gráficas -->
{% endblock %}